<% include ../partials/head %>

    <h1 style="text-align: center;">Create a New Comment on <%= campground.name %></h1>
    <div class="row">
        <form action="/campgrounds/<%= campground._id %>/comments" method="POST" style="width: 30vw; margin: 0 auto;">
            <div class="form-group">
                <input type="text" class="form-control" id="inputCommentText" aria-describedby="commentTextHelp" name="comment[text]" placeholder="Comment Text">
                <small id="commentTextHelp" class="form-text text-muted">Please provide a comment for <%= campground.name %></small>
            </div>
            <div class="btn-group">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-secondary" role="button" aria-disabled="true" href="/campgrounds/<%= campground._id %>">Back</a>
            </div>
        </form>
        
    </div>

<% include ../partials/foot %>